header {
    background-color: #333;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}
header nav{
	background-color: white;
	color:white;
}
header nav ul {
	color:white;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
	color:white;
    display: inline-block;
    margin-right: 20px;
}